
.python-project-heading{
    color: #A5D7E8;
    margin: 15px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    color: #A5D7E8;

}

#title a{
    text-decoration: none;
    color: #fff;
}


.projects .project {
    width: 400px;
    margin: 15px;
    padding: 0 0 10px 0;
}

.projects .project .video-player{
    width: 400px;
    height: 200px;
}

.projects .project a .python-image{
    width: 400px;
    height: 200px;
}

.projects .project  .links{
    display: flex;
    justify-content:space-between;
    padding: 10px 0;
}

.projects .project  .links2{
    display: flex;
    justify-content:space-between;
    padding: 10px 0;
    
}

#visit-website a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.projects .project #github a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;

}

.projects .project #discreption {
    text-align: justify;
    word-spacing: -2px;
}



/*Media Queries*/
@media  (max-width: 700px){
    .python-project-heading{
        color: #A5D7E8;
        margin: 15px 0;
        text-align: center;
    }
    .projects {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .projects .project {
        width: 350px;
    }

    .projects .project .video-player {
        width: 350px;
    }

    .projects .project a .python-image {
        width: 350px;
    }

    

}

@media  (max-width: 500px){
    .python-project-heading{
        color: #A5D7E8;
        margin: 15px 0;
        text-align: center;
    }
    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects .project {
        width: 350px;
    }

    .projects .project .video-player {
        width: 350px;
    }

    .projects .project a .python-image {
        width: 350px;
    }

}

@media  (max-width: 410px){
    .python-project-heading{
        color: #A5D7E8;
        margin: 15px 0;
        text-align: center;
    }
    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects .project {
        width: 250px;
    }

    .projects .project .video-player {
        width: 250px;
    }

    .projects .project a .python-image {
        width: 250px;
    }

}

@media  (max-width: 310px){
    .python-project-heading{
        color: #A5D7E8;
        margin: 15px 0;
        text-align: center;
    }
    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects .project {
        width: 200px;
    }

    .projects .project .video-player {
        width: 200px;
    }

    .projects .project a .python-image {
        width: 200px;
    }

}

@media  (max-width: 220px){
    .python-project-heading{
        color: #A5D7E8;
        margin: 15px 0;
        text-align: center;
    }
    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects .project {
        width: 160px;
    }

    .projects .project .video-player {
        width: 160px;
    }

    .projects .project a .python-image {
        width: 160px;
    }

}

@media  (max-width: 180px){
    .python-project-heading{
        color: #A5D7E8;
        margin: 15px 0;
        text-align: center;
    }
    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects .project {
        width: 150px;
    }

    .projects .project .video-player {
        width: 150px;
    }

    .projects .project a .python-image {
        width: 150px;
    }

    .projects .project .links {
        flex-direction: column;
        align-items: center;
    }

    .projects .project .links2 {
        flex-direction: column;
        align-items: center;
    }


    .projects .project .links #title{
        padding: 5px 0;
    }

}


@media  (max-width: 160px){
    .python-project-heading{
        color: #A5D7E8;
        margin: 15px 0;
        text-align: center;
    }
    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects .project {
        width: 130px;
    }

    .projects .project .video-player {
        width: 130px;
    }

    .projects .project a .python-image {
        width: 130px;
    }

    .projects .project .links {
        flex-direction: column;
        align-items: center;
    }

    .projects .project .links2 {
        flex-direction: column;
        align-items: center;
    }

    .projects .project .links #title{
        padding: 5px 0;
    }

}