@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.footer-container {
    background-color: #A2B5BB;
    width: 100%;
    height: 280px;

}

.footer-container .footer-text {
    text-align: center;
    padding: 20px 10px;
}

.footer-container .footer-text #heading {
    font-size: 20px;
    font-weight: 200px;
}

.footer-container .footer-text #sub-heading {
    font-size: 15px;
    font-weight: bolder;
    padding: 10px 0;
}

.footer-container .footer-input {
    text-align: center;
    padding: 10px 0 10px 0;
}

.footer-container .footer-input input {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 4px;
    padding-left: 15px;
}

.footer-container .footer-input button {
    width: 80px;
    height: 32px;
    border-radius: 4px;
    background-color: black;
    color: white;
}

.footer-container .footer-input button:hover {
    background-color: white;
    color: black;
}


.footer-container .footer-icons {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    margin: 0 0 20px 0;
}

.footer-container .footer-icons i {
    color: black;
    padding: 0 55px;
}

.footer-container .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;

    padding: 0 35px 0 35px;
    margin: 0 0 60px 0;
    
    font-size: 15px;
    font-weight: lighter;
    
}

.footer-container .footer-bottom .footer-bottom-logo  {
    display: flex;
    flex-direction: row;

}

@media (max-width : 728px) {

    .footer-container {
        height: 350px;
    }

    .footer-container .footer-text #heading {
        font-size: 20px;
        padding: 10px 0;
    }

    .footer-container .footer-text #sub-heading {
        font-size: 15px;
        padding: 10px 0;
    }

    .footer-container .footer-input {
        display: flex;
        flex-direction: column;
        align-items: center;

        
    }

    .footer-container .footer-input button {
        width: 200px;
        margin: 10px 0 0px 0;
        
    }


    
}

@media (max-width : 490px) {

    .footer-container {
        height: 400px;
    }

}

@media (max-width : 400px) {

    .footer-container {
        height: 420px;
    }
}

@media (max-width : 370px) {

    .footer-container {
        height : 470px;
    }

    .footer-container .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
        font-weight: lighter;
        
    }

    #copy-right,.footer-bottom-logo {
        padding: 5px 0;
    }

}

@media (max-width : 320px) {
    .footer-container {
        height: 450px;
    }

    .footer-container .footer-text #heading {
        font-size: 20px;
        padding: 10px 0;
    }

    .footer-container .footer-text #sub-heading {
        font-size: 15px;
        padding: 10px 0;
    }

    .footer-container .footer-icons {
        text-align: center;
        padding: 10px;
        font-size: 20px;
        margin: 0 0 10px 0;
    }

    .footer-container .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
        font-weight: lighter;
        
    }

    .footer-container .footer-bottom-logo {
        margin: 15px 0 0 0;
    }

    html{
        font-size: 10px;
    }
}

@media (max-width : 230px) {

    .footer-container {
        height: 500px;
    }

    .footer-container .footer-input input {
        width: 150px;

    }

    .footer-container .footer-input button {
        width: 150px;

    }

    .footer-container .footer-bottom {
        padding: 0;
    }
}

@media (max-width : 190px) {

    .footer-container {
        height: 500px;
    }

    .footer-container .footer-input input {
        width: 120px;

    }

    .footer-container .footer-input button {
        width: 120px;

    }
}
